.frc-playmaker-container {

    display: flex;
    height: 100vh;

}

.drawing-panel {


    background-color: red;
    height: 50%;
    width: 100%;
    display: inline;

}

#paintbrush-img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 20px;
    /* right: 10 px; */
    /* bottom: 10 px; */

    
    background-color: blue;
}

#eraser-img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 150px;
    bottom: 0px;
    margin: 20px;
    /* right: 10 px; */
    /* bottom: 10 px; */

    
    background-color: yellow;
}

#canvas {
    background-color: green;
    width:100%;
    height:100%;
    display:inline;
}

body {

    width: 100vw;
    height: 100vh;
    margin: 0px;
    transition: all 0.1s ease-in-out;

}