.frc-playmaker-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.drawing-panel {
    /* background-color: red; */
    width: 100%;
    height: 75vh;
    max-height: 100%;
    max-width: 100%;
    display: block;
    position: relative;
}

#paintbrush-img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 20px;
    /* right: 10 px; */
    /* bottom: 10 px; */

    
    background-color: blue;
}

#eraser-img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 150px;
    bottom: 0px;
    margin: 20px;
    /* right: 10 px; */
    /* bottom: 10 px; */

    
    background-color: yellow;
}

#clear-img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 300px;
    bottom: 0px;
    margin: 20px;

    background-color: orange;
}

#slider-container {
    position: absolute;
    left: 450px;
    bottom: 0px;
    margin: 20px;
}

#line-width-slider {
    width: 200px;
}

#field {
    width: 100%;
    height: 75vh;
    aspect-ratio: 3 / 1;
    display: block;
    
}

#canvas {
    /* background-color: green; */
    width: 100%;
    height: 75vh;
    aspect-ratio: 3 / 1; /* Adjust the aspect ratio as needed */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

body {

    width: 100vw;
    height: 100vh;
    margin: 0px;
    transition: all 0.1s ease-in-out;

}